.subrayado {
    text-decoration: underline;
    text-decoration-color: #000080;
}

.negrita {
    font-weight: bold;
}

nav {
    background-color: #15152F; /* Color de fondo personalizado */
}

.vinyeta {
    list-style-type: none;
}

.sangria {
    margin-left:1em;
}

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #15152F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}